/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Custom design below! */

.container {
  width: 990px;
  margin: auto;
}

.banner {
  background-image: url(../images/banner_rfb_blur2.jpeg);
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}

.banner h1 {
  color: white;
  font-size: 34px;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 24px;
}

.btn-primary {
  display: inline-block;
  background-color: white;
  padding: 16px 36px;
  border-radius: 50px;
  color: #002059;
}

.btn-primary:hover {
  opacity: 0.8
}

.btn-secondary {
  border: 1px solid #002059;
  padding: 8px 16px;
  border-radius: 50px;
  color: #002059;
}


.row img {
  height: 100px;
}

.row p {
  opacity: .5;
}

.row {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 50px;
  background-color: #002059;
}

.footer a {
  font-size: 30px;
  color:  white;
}

.footer a:hover {
  opacity: 0.7;
}

.footer p {
  color: white;
}

.footer .fas {
  color: #BF0F12;
}

